# Postgres
POSTGRES_USER=nomina
POSTGRES_PASSWORD=nomina
POSTGRES_DB=nomina
POSTGRES_PORT=5432

# Backend
ENVIRONMENT=development
BACKEND_PORT=8000

# Frontend
FRONTEND_PORT=3000
NUXT_PUBLIC_API_BASE=http://localhost:8000
